@media screen and (min-width: 922px) {
  div#top-navigation {
    overflow: hidden;
    padding: 20px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    background-color: #f1f1f1;
  }

  ul#nav-large {
    display: flex;
    h6 {
      margin: 0 30px 0 0;
      font-size: 20px;
      font-weight: bold;
    }
    list-style: none;
    li {
      padding: 0 10px;
      font-weight: 700;
      font-size: 14px;
    }
    .navigation-link {
      color: $text-grey;
    }
    .dropdownContainer {
      margin-right: auto;
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 921px) {
  div#top-navigation {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 15px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 2;
  }
  div#mobileNavbar {
    display: flex;
    .logo {
      margin-right: auto;
    }
  }

  ul#slide-out {
    z-index: 3;
  }
}

@media screen and (max-width: 600px) {
  div#top-navigation {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 15px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 2;
  }

  div#mobileNavbar {
    display: flex;
    .logo {
      margin-right: auto;
    }
  }
  ul#slide-out {
    z-index: 3;
  }
}
