@import "./scss/variables/variable";
@import "./scss/component/buttons";
@import "./scss/component/banner";
@import "./scss/layout/navbar";
@import "./scss/layout/footer";
@import "./scss/component/authform";
@import "./scss/misc/gallary";
@import "./scss/misc/searchform";
@import "./scss/component/contactForm";
@import "./scss/pages/home";
@import "./scss/pages/manufacturer";
@import "./scss/misc/scroll";
@import "./scss/misc/carousel";

body,
html {
    font-family: 'Roboto',
        sans-serif;
    ;
    box-sizing: border-box;
    overflow-x: hidden;
}

.contain {
    margin: 1% 1%;
}