@import "./scss/variables/variable";
@import "./scss/component/buttons";
@import "./scss/component/banner";
@import "./scss/layout/navbar";
@import "./scss/layout/footer";
@import "./scss/component/authform";
@import "./scss/misc/gallary";
@import "./scss/misc/searchform";
@import "./scss/component/contactForm";
@import "./scss/pages/home";
@import "./scss/pages/manufacturer";
@import "./scss/misc/scroll";
@import "./scss/misc/home-about";
@import "./scss/misc/samples.gallary";
@import "./scss/pages/contact.manufacturer";
@import "./scss/pages/about";
@import "./scss/pages/contact";

body,
html {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  overflow-x: hidden;
  color: $text-grey;
}

@media screen and (min-width: 922px) {
  .contain {
    margin: 1% 8% !important;
  }
}

@media screen and (min-width: 601px) and (max-width: 921px) {
  .contain {
    margin: 1% 5% !important;
  }
}

@media screen and (max-width: 600px) {
  .contain {
    margin: 0% 2% !important;
  }
}
