@media only screen and (min-width: 801px) {
  main#top-banner {
    width: 100%;
    margin-top: -20px;
  }
  div.slides {
    width: 100%;
    height: 300px;
    position: relative;
    text-align: center;
  }
  div.slides > img {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.809);
  }
  div.slides div.search {
    position: absolute;
    top: 5%;
    width: 100%;
  }
  div.slides h6 {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 641px) and (max-width: 800px) {
  main#top-banner {
    width: 100%;
    margin-top: -20px;
  }
  div.slides {
    width: 100%;
    height: 250px;
    position: relative;
    text-align: center;
  }
  div.slides > img {
    width: 100%;
    height: 250px;
  }
  div.slides div.search {
    position: absolute;
    top: 10%;
    width: 95%;
  }
  div.slides h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 640px) {
  main#top-banner {
    width: 100%;
    margin-top: -20px;
  }
  div.slides {
    width: 100%;
    height: 200px;
    position: relative;
    text-align: center;
  }
  div.slides > img {
    width: 100%;
    height: 200px;
  }
  div.slides div.search {
    position: absolute;
    top: 3%;
    width: 95%;
  }
  div.slides h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 19px;
    font-weight: bold;
  }
}

div#navbar {
  background: #10386b;
  margin: -1.5% 0 1.5% 0;
  position: relative;
}

div#navbar ul#nav-large {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

div#navbar ul#nav-large li {
  padding: 2% 10px 5px 10px;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div#navbar ul#nav-large li:hover {
  background-color: rgba(5, 23, 43, 0.754);
}

div#navbar ul#nav-large .navigation-link {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

div#navbar ul#nav-large .navigation-link span {
  padding-left: 3px;
}

div#navbar ul#nav-large img {
  margin: -15px 0 0 0;
  width: 100px;
  height: 45px;
}

.mydrop-trigger {
  margin-right: 40%;
}

.hide {
  display: none;
}

.show {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #10386b;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 700px;
  z-index: 1;
  position: absolute;
  top: 100%;
  margin-left: -2%;
  -webkit-animation: slideDown 0.2s ease-in normal;
          animation: slideDown 0.2s ease-in normal;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.show li {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  margin: 1% 1%;
}

@media screen and (min-width: 500px) {
  div#mobileNavbar {
    background: #10386b;
    position: relative;
    padding: 15px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div#mobileNavbar .logo {
    margin: -10px 72% 0 10px;
    font-size: 15px;
    font-weight: bold;
  }
  div#mobileNavbar .logo img {
    width: 100px;
    height: 40px;
  }
}

@media screen and (max-width: 500px) {
  div#mobileNavbar {
    background: #10386b;
    position: relative;
    padding: 15px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div#mobileNavbar .logo {
    margin: -10px 60% 0 10px;
    font-size: 15px;
    font-weight: bold;
  }
  div#mobileNavbar .logo img {
    width: 100px;
    height: 40px;
  }
}

footer.page-footer {
  background-color: #10386b;
}

@media only screen and (min-width: 501px) {
  div.authform {
    width: 100%;
    margin: 3% auto;
  }
  form.black-text {
    margin: 50px auto auto auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    padding: 3% 5% 1% 5%;
    width: 55%;
    -webkit-box-shadow: 0 2px 5px black;
            box-shadow: 0 2px 5px black;
  }
  form.black-text label {
    margin: 20px 0 5px 0;
  }
  form.black-text input {
    height: 45px;
    border-radius: 0px;
    padding: 0 0 0 5px;
    margin-bottom: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  form.black-text .butlink {
    color: white;
    text-decoration: none;
  }
  form.black-text button {
    width: 150px;
    height: 40px;
    margin: 1% 5px;
    padding: 10px 15px;
    background-color: rgba(15, 59, 108, 0.82);
    border: solid white 1px;
  }
}

@media only screen and (max-width: 500px) {
  div.authform {
    width: 100%;
    margin: 3% auto;
  }
  form.black-text {
    margin: 50px 3% auto 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    padding: 5% 10% 1% 10%;
    width: 90%;
    -webkit-box-shadow: 0 2px 5px black;
            box-shadow: 0 2px 5px black;
  }
  form.black-text label {
    margin: 20px 0 5px 0;
  }
  form.black-text input {
    height: 45px;
    border-radius: 0px;
    padding: 0 0 0 5px;
    margin-bottom: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  form.black-text .butlink {
    color: white;
    text-decoration: none;
  }
  form.black-text button {
    width: 150px;
    height: 40px;
    margin: 1% 5px;
    padding: 10px 15px;
    background-color: rgba(15, 59, 108, 0.82);
    border: solid white 1px;
  }
}

@media screen and (min-width: 721px) {
  div.card-box {
    width: 100%;
    height: 230px;
    position: relative;
    margin-bottom: 5px;
  }
  div.card-box .category-image {
    height: 90%;
    width: 100%;
  }
  div.card-box h6.card-text {
    font-size: 18px;
    padding: 4px 5px;
    background: #10386b;
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: -10px;
    width: 85%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
  }
  div.card-box div {
    background: #10386b;
    padding: 4px 5px;
    height: 10px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
    position: absolute;
    z-index: -1;
    left: -11px;
    width: 85%;
    bottom: 23px;
  }
}

@media screen and (max-width: 720px) {
  div.card-box {
    width: 100%;
    height: 150px;
    position: relative;
    margin-bottom: 5px;
  }
  div.card-box .category-image {
    height: 90%;
    width: 100%;
  }
  div.card-box h6.card-text {
    font-size: 14px;
    padding: 4px 5px;
    background: #10386b;
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: -7px;
    width: 85%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
  }
  div.card-box div {
    background: #10386b;
    padding: 4px 5px;
    height: 10px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
    position: absolute;
    z-index: -1;
    left: -7px;
    width: 85%;
    bottom: 23px;
  }
}

@media only screen and (min-width: 921px) {
  form#navform {
    width: 100%;
    margin: 15px 15px;
  }
  form#navform > input {
    width: 65%;
    height: 35px;
    border: 1px darkcyan solid;
    border-radius: 3px;
    padding-left: 5px;
  }
  form#navform:focus {
    -webkit-box-shadow: 0 0 10px darkcyan;
            box-shadow: 0 0 10px darkcyan;
    border-radius: 30px;
  }
  form#navform div.result-container {
    margin-top: -15px;
    width: 65%;
    margin: -15px auto 0 auto;
    background-color: white;
    text-align: left;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 641px) and (max-width: 920px) {
  form#navform {
    width: 100%;
    margin: 15px 20px;
  }
  form#navform > input {
    width: 95%;
    height: 35px;
    border: 1px darkcyan solid;
    border-radius: 3px;
    padding-left: 5px;
  }
  form#navform:focus {
    -webkit-box-shadow: 0 0 10px darkcyan;
            box-shadow: 0 0 10px darkcyan;
    border-radius: 30px;
  }
  form#navform p.result-container {
    margin-top: -15px;
    width: 95%;
    margin: -15px auto 0 auto;
    background-color: white;
    text-align: left;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 640px) {
  form#navform {
    width: 100%;
    margin: 15px 15px;
  }
  form#navform > input {
    width: 90%;
    height: 30px;
    border: 1px darkcyan solid;
    border-radius: 3px;
    padding-left: 5px;
  }
  form#navform:focus {
    -webkit-box-shadow: 0 0 10px darkcyan;
            box-shadow: 0 0 10px darkcyan;
    border-radius: 30px;
  }
  form#navform p.result-container {
    margin-top: -15px;
    width: 90%;
    margin: -15px auto 0 auto;
    background-color: white;
    text-align: left;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 921px) {
  div.ContactForm {
    width: 100%;
    margin: 2% 2%;
    padding: 2% 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.ContactForm > form {
    padding: 2% 2%;
    width: 55%;
    -webkit-box-shadow: 0 2px 5px black;
            box-shadow: 0 2px 5px black;
  }
  .button {
    width: 180px;
    height: 40px;
    margin: 1% 5px;
    padding: 10px 15px;
    background-color: rgba(15, 59, 108, 0.82);
    border: solid white 1px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 920px) {
  div.ContactForm {
    width: 100%;
    margin: 2% 2%;
    padding: 2% 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.ContactForm > form {
    padding: 2% 2%;
    width: 85%;
    -webkit-box-shadow: 0 2px 5px black;
            box-shadow: 0 2px 5px black;
  }
  .button {
    width: 180px;
    height: 40px;
    margin: 1% 5px;
    padding: 10px 15px;
    background-color: rgba(15, 59, 108, 0.82);
    border: solid white 1px;
  }
}

@media only screen and (max-width: 500px) {
  div.ContactForm {
    width: 100%;
    margin: 2% 2%;
    padding: 2% 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.ContactForm > form {
    padding: 2% 2%;
    width: 100%;
    -webkit-box-shadow: 0 2px 5px black;
            box-shadow: 0 2px 5px black;
  }
  .button {
    width: 180px;
    height: 40px;
    margin: 1% 5px;
    padding: 10px 15px;
    background-color: rgba(15, 59, 108, 0.82);
    border: solid white 1px;
  }
}

@media screen and (min-width: 801px) {
  section.carousel-section {
    position: relative;
    background-color: white;
  }
  section.bottom-row {
    height: 200px;
    margin-bottom: 2%;
  }
  section.bottom-row div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.bottom-row div h4 {
    margin-bottom: -15px;
  }
}

@media screen and (max-width: 800px) and (min-width: 641px) {
  section.carousel-section {
    position: relative;
    background-color: white;
  }
  section.bottom-row {
    height: 200px;
    margin-bottom: 3%;
  }
  section.bottom-row div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.bottom-row div h4 {
    margin-bottom: -15px;
  }
}

@media screen and (max-width: 640px) {
  section.carousel-section {
    position: relative;
    background-color: white;
  }
  section.bottom-row {
    height: 200px;
    margin: 1% 0;
  }
  section.bottom-row div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.bottom-row div h4 {
    margin-bottom: -15px;
    font-size: 20px;
  }
}

div.manufacturer {
  width: 100%;
  height: 250px;
  position: relative;
  margin-bottom: 5px;
  -webkit-box-shadow: 1px 1px 2px darkgray;
          box-shadow: 1px 1px 2px darkgray;
  padding: 2% 3%;
}

div.manufacturer > h6 {
  font-size: 18px;
  padding: 4px 5px;
  background: #10386b;
  color: white;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: -5px;
  width: 85%;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
}

div.manufacturer h5 {
  font-size: 18px;
}

@media screen and (min-width: 601px) {
  .menu-item {
    padding: 0 0px;
    margin: 5px 2px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 180px;
  }
  img.scroll-image {
    width: 170px;
    height: 180px;
  }
  .scroll-text {
    font-size: 16px;
  }
  .scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .menu-item {
    padding: 0 0px;
    margin: 5px 2px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100px;
  }
  img.scroll-image {
    width: 100px;
    height: 110px;
  }
  .scroll-text {
    font-size: 12px;
  }
  .scroll-menu-arrow {
    padding: 5px;
    cursor: pointer;
  }
}

@media screen and (min-width: 921px) {
  main.carousel {
    height: 350px;
    width: 100%;
    padding: 0 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main.carousel section.right-side {
    width: 100%;
  }
  main.carousel section.right-side img {
    height: 270px;
    width: 100%;
  }
  main.carousel section.left-side {
    width: 100%;
  }
  main.carousel section.left-side img {
    height: 270px;
    width: 100%;
  }
}

@media screen and (min-width: 720px) and (max-width: 920px) {
  main.carousel {
    height: 250px;
    width: 100%;
    padding: 0 2%;
  }
  main.carousel section.right-side {
    padding: 0;
    margin: 0;
  }
  main.carousel section.right-side img {
    height: 250px;
    width: 100%;
  }
}

@media screen and (max-width: 719px) {
  main.carousel {
    height: 200px;
    width: 100%;
    padding: 0 2%;
  }
  main.carousel section.right-side {
    padding: 0;
    margin: 0;
  }
  main.carousel section.right-side img {
    height: 200px;
    width: 100%;
  }
}

body,
html {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

.contain {
  margin: 1% 1%;
}
/*# sourceMappingURL=main.css.map */