@media only screen and (min-width: 992px) {
  main#top-banner {
    width: 100%;
  }
  div.slides {
    width: 100%;
    height: 400px;
    position: relative;
    text-align: center;
  }
  div.slides > img {
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.809);
  }
  div.slides div.search {
    position: absolute;
    top: 70%;
    width: 100%;
  }
  div.slides h6 {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
  main#top-banner {
    width: 100%;
    margin-top: 80px;
  }
  div.slides {
    width: 100%;
    height: 280px;
    position: relative;
    text-align: center;
  }
  div.slides > img {
    width: 100%;
    height: 280px;
  }
  div.slides div.search {
    position: absolute;
    top: 60%;
    width: 95%;
  }
  div.slides h6 {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  main#top-banner {
    width: 100%;
    margin-top: 40px;
  }
  div.slides {
    width: 100%;
    height: 250px;
    position: relative;
    text-align: center;
  }
  div.slides > img {
    width: 100%;
    height: 250px;
  }
  div.slides div.search {
    position: absolute;
    top: 60%;
    width: 95%;
  }
  div.slides h6 {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    width: 90%;
  }
}

@media screen and (min-width: 922px) {
  div#navbar {
    overflow: hidden;
    position: fixed;
    /* Sticky/fixed navbar */
    width: 100%;
    top: 0;
    /* At the top */
    left: 0%;
    z-index: 3;
    background-color: black;
  }
  ul#nav-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    list-style: none;
  }
  ul#nav-large h6 {
    margin: 0 30px 0 0;
    font-size: 20px;
    font-weight: bold;
  }
  ul#nav-large img.log {
    width: 150px;
    height: 200px;
  }
  ul#nav-large li {
    padding: 0 10px;
    font-weight: 700;
    font-size: 14px;
  }
  ul#nav-large .navigation-link {
    color: white;
  }
  ul#nav-large .dropdownContainer {
    margin-right: auto;
    position: relative;
    display: inline-block;
  }
  ul#nav-large .content {
    display: none;
    position: absolute;
    background-color: rgba(88, 87, 87, 0.74);
    min-width: 500px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    left: -200%;
  }
  ul#nav-large .dropdownContainer:hover .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  ul#nav-large .drop {
    padding: 10px 10px 10px 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  ul#nav-large .drop:hover {
    background-color: rgba(12, 11, 11, 0.849);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media screen and (min-width: 601px) and (max-width: 921px) {
  div#mobileNavbar {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    /* Sticky/fixed navbar */
    width: 100%;
    top: -10px;
    /* At the top */
    z-index: 2;
    left: -5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
  div#mobileNavbar .logo {
    margin-right: 70%;
  }
  div#mobileNavbar img.log {
    width: 150px;
    height: 170px;
  }
  ul.sidenav {
    background-color: rgba(15, 15, 15, 0.863);
    color: white;
  }
  ul.sidenav li {
    color: white !important;
  }
  ul.sidenav li .white-text {
    font-weight: 600;
  }
  .category-dropdown {
    background-color: rgba(27, 26, 26, 0.726);
  }
}

@media screen and (max-width: 600px) {
  div#mobileNavbar {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    /* Sticky/fixed navbar */
    width: 100%;
    top: -5px;
    /* At the top */
    z-index: 2;
    left: -2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
  div#mobileNavbar .logo {
    margin-right: 45%;
  }
  div#mobileNavbar img.log {
    width: 150px;
    height: 130px;
  }
  ul.sidenav {
    background-color: rgba(15, 15, 15, 0.863);
    color: white;
  }
  ul.sidenav li {
    color: white !important;
  }
  ul.sidenav li .white-text {
    font-weight: 600;
  }
  .category-dropdown {
    background-color: rgba(27, 26, 26, 0.726);
  }
}

footer.page-footer {
  background-color: #000000;
}

footer.page-footer ul li > .lis {
  font-weight: 500;
  font-size: 15px;
}

footer.page-footer .copy-right {
  padding: 5% 0 1% 0;
}

footer.page-footer h4.footer-logo {
  color: white;
  font-weight: 700;
  letter-spacing: 12px;
}

@media screen and (max-width: 600px) {
  footer.page-footer {
    background-color: #000000;
  }
  footer.page-footer .copy-right {
    padding: 5% 0 1% 0;
  }
  footer.page-footer div.right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer.page-footer h4.footer-logo {
    color: white;
    font-weight: 700;
    letter-spacing: 12px;
  }
}

@media only screen and (min-width: 922px) {
  main.auth {
    padding-top: 8.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.auth form {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 3%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main.auth form p {
    font-size: 17px;
    font-weight: 500;
  }
  main.auth form label {
    font-size: 17px;
    font-weight: 500;
    display: none;
  }
  main.auth form input {
    width: 60%;
    height: 45px;
    margin-top: 1%;
    color: black !important;
  }
  main.auth form ::-webkit-input-placeholder {
    color: black;
    padding-left: 5px;
  }
  main.auth form :-ms-input-placeholder {
    color: black;
    padding-left: 5px;
  }
  main.auth form ::-ms-input-placeholder {
    color: black;
    padding-left: 5px;
  }
  main.auth form ::placeholder {
    color: black;
    padding-left: 5px;
  }
  main.auth form button {
    width: 60%;
    padding: 3%;
    color: white;
    margin: 1% 0 2% 0;
    background-color: black;
    border: none;
  }
}

@media only screen and (min-width: 601px) and (max-width: 921px) {
  main.auth {
    padding-top: 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.auth form {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 3%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main.auth form p {
    font-size: 17px;
    font-weight: 500;
  }
  main.auth form label {
    font-size: 17px;
    font-weight: 500;
    display: none;
  }
  main.auth form input {
    width: 80%;
    height: 45px;
    margin-top: 1%;
    color: black !important;
  }
  main.auth form ::-webkit-input-placeholder {
    color: black;
    padding-left: 5px;
  }
  main.auth form :-ms-input-placeholder {
    color: black;
    padding-left: 5px;
  }
  main.auth form ::-ms-input-placeholder {
    color: black;
    padding-left: 5px;
  }
  main.auth form ::placeholder {
    color: black;
    padding-left: 5px;
  }
  main.auth form button {
    width: 80%;
    padding: 4%;
    color: white;
    margin: -6% 0 2% 0;
    background-color: black;
    border: none;
  }
}

@media only screen and (max-width: 600px) {
  main.auth {
    padding-top: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.auth form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 3%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main.auth form p {
    font-size: 17px;
    font-weight: 500;
  }
  main.auth form label {
    font-size: 17px;
    font-weight: 500;
    display: none;
  }
  main.auth form input {
    width: 80%;
    height: 45px;
    margin-top: 1%;
    color: black !important;
  }
  main.auth form ::-webkit-input-placeholder {
    color: black;
    padding-left: 5px;
  }
  main.auth form :-ms-input-placeholder {
    color: black;
    padding-left: 5px;
  }
  main.auth form ::-ms-input-placeholder {
    color: black;
    padding-left: 5px;
  }
  main.auth form ::placeholder {
    color: black;
    padding-left: 5px;
  }
  main.auth form button {
    width: 80%;
    padding: 4%;
    color: white;
    margin: -6% 0 2% 0;
    background-color: black;
    border: none;
  }
}

@media screen and (min-width: 922px) {
  div.card-box {
    width: 100%;
    height: 230px;
    position: relative;
    margin-bottom: 5px;
  }
  div.card-box .category-image {
    height: 90%;
    width: 100%;
  }
  div.card-box h6.home-category-related-text {
    font-weight: 600;
    font-size: 14px;
  }
  div.card-box h6.card-text {
    font-size: 18px;
    padding: 4px 5px;
    background: #020303;
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: -10px;
    width: 85%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
  }
  div.card-box div {
    background: #020303;
    padding: 4px 5px;
    height: 10px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
    position: absolute;
    z-index: -1;
    left: -11px;
    width: 85%;
    bottom: 23px;
  }
}

@media screen and (min-width: 601px) and (max-width: 921px) {
  div.card-box {
    width: 100%;
    height: 230px;
    position: relative;
    margin-bottom: 5px;
  }
  div.card-box .category-image {
    height: 90%;
    width: 100%;
  }
  div.card-box h6.home-category-related-text {
    font-weight: 600;
    font-size: 14px;
  }
  div.card-box h6.card-text {
    font-size: 18px;
    padding: 4px 5px;
    background: #020303;
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: -10px;
    width: 85%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
  }
  div.card-box div {
    background: #020303;
    padding: 4px 5px;
    height: 10px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
    position: absolute;
    z-index: -1;
    left: -11px;
    width: 85%;
    bottom: 23px;
  }
}

@media screen and (max-width: 600px) {
  div.card-box {
    width: 100%;
    height: 150px;
    position: relative;
    margin-bottom: 5px;
  }
  div.card-box .category-image {
    height: 90%;
    width: 100%;
  }
  div.card-box h6.home-category-related-text {
    font-weight: 600;
    font-size: 14px;
  }
  div.card-box h6.card-text {
    font-size: 14px;
    padding: 4px 5px;
    background: #020303;
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: -7px;
    width: 85%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
  }
  div.card-box div {
    background: #020303;
    padding: 4px 5px;
    height: 10px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
    position: absolute;
    z-index: -1;
    left: -7px;
    width: 85%;
    bottom: 23px;
  }
}

@media only screen and (min-width: 922px) {
  form#navform {
    width: 100%;
    margin: 15px 15px;
  }
  form#navform > input {
    width: 65%;
    height: 45px;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
  }
  form#navform:focus {
    -webkit-box-shadow: 0 0 10px darkcyan !important;
            box-shadow: 0 0 10px darkcyan !important;
    border-radius: 30px !important;
  }
  form#navform ::-webkit-input-placeholder {
    color: black;
    font-weight: 600;
    font-size: 20px;
  }
  form#navform :-ms-input-placeholder {
    color: black;
    font-weight: 600;
    font-size: 20px;
  }
  form#navform ::-ms-input-placeholder {
    color: black;
    font-weight: 600;
    font-size: 20px;
  }
  form#navform ::placeholder {
    color: black;
    font-weight: 600;
    font-size: 20px;
  }
  form#navform div.result-container {
    margin-top: -15px;
    width: 65%;
    margin: -15px auto 0 auto;
    background-color: white;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 921px) {
  form#navform {
    width: 100%;
    margin: 15px 20px;
  }
  form#navform > input {
    width: 95%;
    height: 45px;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
  }
  form#navform:focus {
    -webkit-box-shadow: 0 0 10px darkcyan !important;
            box-shadow: 0 0 10px darkcyan !important;
    border-radius: 30px !important;
  }
  form#navform p.result-container {
    margin-top: -15px;
    width: 95%;
    margin: -15px auto 0 auto;
    background-color: white;
    text-align: left;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 600px) {
  form#navform {
    width: 100%;
    margin: 15px 15px;
  }
  form#navform > input {
    width: 90%;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
  }
  form#navform:focus {
    -webkit-box-shadow: 0 0 10px #7a8686 !important;
            box-shadow: 0 0 10px #7a8686 !important;
    border-radius: 30px !important;
  }
  form#navform p.result-container {
    margin-top: -15px;
    width: 90%;
    margin: -15px auto 0 auto;
    background-color: white;
    text-align: left;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 922px) {
  div.ContactForm {
    width: 100%;
    margin: 2% 2%;
    padding: 2% 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.ContactForm > form {
    padding: 2% 2%;
    width: 80%;
    -webkit-box-shadow: 0 2px 5px black;
            box-shadow: 0 2px 5px black;
  }
  .button {
    width: 180px;
    height: 40px;
    margin: 1% 0;
    padding: 10px 15px;
    color: white !important;
    background-color: rgba(2, 2, 2, 0.9508);
    border: solid white 1px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 921px) {
  div.ContactForm {
    width: 100%;
    margin: 2% 2%;
    padding: 2% 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.ContactForm > form {
    padding: 2% 2%;
    width: 85%;
    -webkit-box-shadow: 0 2px 5px black;
            box-shadow: 0 2px 5px black;
  }
  .button {
    width: 180px;
    height: 40px;
    margin: 1% 0;
    padding: 10px 15px;
    color: white !important;
    background-color: rgba(2, 2, 2, 0.9508);
    border: solid white 1px;
  }
}

@media only screen and (max-width: 600px) {
  div.ContactForm {
    width: 100%;
    margin: 2% 2%;
    padding: 2% 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.ContactForm > form {
    padding: 2% 2%;
    width: 100%;
    -webkit-box-shadow: 0 2px 5px black;
            box-shadow: 0 2px 5px black;
  }
  .button {
    width: 180px;
    height: 40px;
    margin: 1% 0;
    padding: 10px 15px;
    color: white !important;
    background-color: rgba(2, 2, 2, 0.9508);
    border: solid white 1px;
  }
}

@media screen and (min-width: 922px) {
  section.banner-section {
    margin-top: 0%;
  }
  section.about-section {
    background-color: white;
    height: 400px;
    margin-top: 50px;
  }
  section.about-section button {
    width: 150px;
    height: 40px;
    margin: 1% 0;
    padding: 10px 15px;
    color: white !important;
    background-color: rgba(2, 2, 2, 0.9508);
    border: solid white 1px;
  }
  section#to-categories {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#to-categories .scroll-button {
    width: 150px;
    height: 40px;
    margin: 1% 0;
    padding: 10px 15px;
    color: white !important;
    background-color: rgba(2, 2, 2, 0.9508);
    border: solid white 1px;
    text-align: center;
  }
  section.categories-section {
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 30px;
    background: fixed #f0f0f0;
  }
}

@media screen and (max-width: 921px) and (min-width: 601px) {
  main#home {
    margin-top: -4%;
  }
  section#to-categories {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#to-categories .scroll-button {
    width: 150px;
    height: 40px;
    margin: 1% 0;
    padding: 10px 15px;
    color: white !important;
    background-color: rgba(2, 2, 2, 0.9508);
    border: solid white 1px;
    text-align: center;
  }
  section.about-section {
    background-color: white;
    height: 250px;
  }
  section.about-section button {
    width: 150px;
    height: 40px;
    margin: 1% 0;
    padding: 10px 15px;
    color: white !important;
    background-color: rgba(2, 2, 2, 0.9508);
    border: solid white 1px;
  }
  section.categories-section {
    padding-top: 5px;
    padding-bottom: 20px;
    background: fixed #f0f0f0;
  }
}

@media screen and (max-width: 600px) {
  main#home {
    margin-top: -7%;
  }
  section#to-categories {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#to-categories .scroll-button {
    width: 150px;
    height: 40px;
    margin: 1% 0;
    padding: 10px 15px;
    color: white !important;
    background-color: rgba(2, 2, 2, 0.9508);
    border: solid white 1px;
    text-align: center;
  }
  section.about-section {
    background-color: white;
    height: 250px;
  }
  section.about-section button {
    width: 150px;
    height: 40px;
    margin: 1% 0;
    padding: 10px 15px;
    color: white !important;
    background-color: rgba(2, 2, 2, 0.9508);
    border: solid white 1px;
  }
  section.categories-section {
    padding-top: 5px;
    padding-bottom: 20px;
    background: fixed #f0f0f0;
  }
}

@media screen and (min-width: 922px) {
  main#manufacturers {
    background-color: rgba(238, 236, 236, 0.699);
    margin-top: 4%;
    width: 100%;
  }
  main#manufacturers section.search-form-section {
    padding: 8% 0 2% 0;
    width: 100%;
  }
  main#manufacturers section.search-form-section div.search {
    width: 100;
  }
  main#manufacturers section.filter {
    padding: 0.5% 2% 5px 2%;
    width: 100%;
  }
  main#manufacturers section.filter form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main#manufacturers section.filter form label {
    font-size: 17px;
    display: inline-block;
  }
  main#manufacturers section.filter form input.manufacturer-search {
    height: 40px;
    width: 150px;
    margin: 0 15px;
  }
  main#manufacturers section.filter form select {
    height: 40px;
    width: 150px;
    margin: 0 15px;
  }
  main#manufacturers section.result {
    padding: 0.5% 2%;
  }
  main#manufacturers section.result .manufacturer-card {
    background-color: white;
  }
  main#manufacturers section.result div.manufacturer {
    border: 0.5px solid #381b1b;
    padding: 1% 15px;
    border-radius: 15px;
    margin: 5px 2px;
  }
  main#manufacturers section.result div.manufacturer h3 {
    font-size: 32px;
    font-weight: bold;
  }
  main#manufacturers section.result div.manufacturer h5 {
    font-size: 19px;
    font-weight: 500;
  }
  main#manufacturers section.result div.manufacturer h5 strong {
    font-size: 19px;
    font-weight: bold;
  }
  main#manufacturers section.result div.manufacturer h6 {
    color: white;
    background-color: black;
    width: 150px;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 601px) and (max-width: 921px) {
  main#manufacturers {
    margin-top: 5%;
    background-color: rgba(238, 236, 236, 0.699);
    width: 100%;
  }
  main#manufacturers section.search-form-section {
    padding: 8% 0 2% 0;
    width: 95%;
  }
  main#manufacturers section.filter {
    padding: 0.5% 2% 5px 2%;
  }
  main#manufacturers section.filter form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main#manufacturers section.filter form label {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    margin-right: 10px;
  }
  main#manufacturers section.filter form input.manufacturer-search {
    height: 40px;
    width: 150px;
    margin: 0 10px;
  }
  main#manufacturers section.filter form ::-webkit-input-placeholder {
    color: black;
    padding-left: 15px;
  }
  main#manufacturers section.filter form :-ms-input-placeholder {
    color: black;
    padding-left: 15px;
  }
  main#manufacturers section.filter form ::-ms-input-placeholder {
    color: black;
    padding-left: 15px;
  }
  main#manufacturers section.filter form ::placeholder {
    color: black;
    padding-left: 15px;
  }
  main#manufacturers section.filter form select {
    height: 40px;
    width: 150px;
    margin: 0 15px;
  }
  main#manufacturers section.result {
    padding: 0.5% 2%;
  }
  main#manufacturers section.result div.manufacturer {
    border: 1px solid #381b1b;
    padding: 1% 15px;
    margin: 5px 2px;
  }
  main#manufacturers section.result div.manufacturer h3 {
    font-size: 32px;
    font-weight: bold;
  }
  main#manufacturers section.result div.manufacturer h5 {
    font-size: 19px;
    font-weight: 500;
  }
  main#manufacturers section.result div.manufacturer h5 strong {
    font-size: 19px;
    font-weight: bold;
  }
  main#manufacturers section.result div.manufacturer h6 {
    color: white;
    background-color: black;
    width: 150px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 600px) {
  main#manufacturers {
    margin-top: 13%;
    background-color: rgba(238, 236, 236, 0.699);
    width: 100%;
  }
  main#manufacturers section.search-form-section {
    padding: 8% 0 2% 0;
    width: 90%;
  }
  main#manufacturers section.search-form-section div.search {
    width: 100;
  }
  main#manufacturers section.filter {
    padding: 0.5% 2% 5px 2%;
  }
  main#manufacturers section.filter form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main#manufacturers section.filter form input.manufacturer-search {
    height: 30px;
    width: 150px;
    margin: 5px 0;
  }
  main#manufacturers section.filter form ::-webkit-input-placeholder {
    color: black;
    padding-left: 15px;
  }
  main#manufacturers section.filter form :-ms-input-placeholder {
    color: black;
    padding-left: 15px;
  }
  main#manufacturers section.filter form ::-ms-input-placeholder {
    color: black;
    padding-left: 15px;
  }
  main#manufacturers section.filter form ::placeholder {
    color: black;
    padding-left: 15px;
  }
  main#manufacturers section.filter form select {
    height: 30px;
    width: 150px;
  }
  main#manufacturers section.result {
    padding: 0.5% 2%;
  }
  main#manufacturers section.result div.manufacturer {
    border: 1px solid #381b1b;
    padding: 1% 15px;
    margin: 5px 2px;
  }
  main#manufacturers section.result div.manufacturer h3 {
    font-size: 25px;
    font-weight: bold;
  }
  main#manufacturers section.result div.manufacturer h5 {
    font-size: 14px;
    font-weight: 500;
  }
  main#manufacturers section.result div.manufacturer h5 strong {
    font-size: 14px;
    font-weight: bold;
  }
  main#manufacturers section.result div.manufacturer h6 {
    color: white;
    background-color: black;
    width: 150px;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 922px) {
  img.scroll-image {
    width: 170px;
    height: 180px;
  }
  .scroll-text {
    font-size: 15px;
    text-decoration: none;
    color: rgba(22, 21, 21, 0.829);
    font-weight: 500px;
  }
  .scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
  }
}

@media screen and (min-width: 601px) and (max-width: 921px) {
  img.scroll-image {
    width: 170px;
    height: 180px;
  }
  .scroll-text {
    font-size: 15px;
    color: rgba(22, 21, 21, 0.829);
    font-weight: 500px;
  }
  .scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  img.scroll-image {
    width: 110px;
    height: 100px;
  }
  .scroll-text {
    font-size: 12px;
    color: rgba(22, 21, 21, 0.829);
    font-weight: 500px;
  }
  .scroll-menu-arrow {
    padding: 5px;
    cursor: pointer;
  }
}

@media screen and (min-width: 922px) {
  main.home-about div#homeabout {
    padding: 7% 7% 7% 0%;
  }
  main.home-about div#home-about-img {
    position: relative;
    height: 380px;
  }
  main.home-about div#home-about-img div.home-about-img-1 {
    position: absolute;
    background-color: #252525;
    width: 500px;
    height: 300px;
    top: 0;
    right: 0%;
  }
  main.home-about div#home-about-img img.home-about-img-2 {
    position: absolute;
    width: 550px;
    height: 350px;
    left: 12%;
    bottom: 1%;
    z-index: 2;
  }
}

@media screen and (min-width: 601px) and (max-width: 921px) {
  main.home-about div#homeabout {
    padding: 5% 5% 5% 0%;
  }
  main.home-about div#home-about-img {
    position: relative;
    height: 380px;
  }
  main.home-about div#home-about-img img.home-about-img-1 {
    position: absolute;
    width: 350px;
    height: 250px;
    top: 0;
    right: 0%;
  }
  main.home-about div#home-about-img img.home-about-img-2 {
    position: absolute;
    width: 250px;
    height: 180px;
    left: 0%;
    bottom: 5%;
    z-index: 2;
  }
}

@media screen and (max-width: 600px) {
  div#homeabout {
    padding: 2% 5% 5% 0%;
  }
  div#home-about-img {
    position: relative;
    height: 380px;
  }
  div#home-about-img img.home-about-img-1 {
    position: absolute;
    width: 300px;
    height: 210px;
    top: 0;
    right: 0%;
  }
  div#home-about-img img.home-about-img-2 {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 0%;
    bottom: 5%;
    z-index: 2;
  }
}

@media screen and (min-width: 922px) {
  div.card-box {
    width: 100%;
    height: 230px;
    position: relative;
    margin-bottom: 5px;
  }
  div.card-box .sample-image {
    height: 90%;
    width: 100%;
  }
  div.card-box h6.home-sample-related-text {
    font-weight: 600;
    font-size: 14px;
  }
  div.card-box h6.card-text {
    font-size: 18px;
    padding: 4px 5px;
    background: #020303;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    width: 85%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
  }
}

@media screen and (min-width: 601px) and (max-width: 921px) {
  div.card-box {
    width: 100%;
    height: 230px;
    position: relative;
    margin-bottom: 5px;
  }
  div.card-box .sample-image {
    height: 90%;
    width: 100%;
  }
  div.card-box h6.home-sample-related-text {
    font-weight: 600;
    font-size: 14px;
  }
  div.card-box h6.card-text {
    font-size: 18px;
    padding: 4px 5px;
    background: #020303;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    width: 85%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
  }
}

@media screen and (max-width: 600px) {
  div.card-box {
    width: 100%;
    height: 150px;
    position: relative;
    margin-bottom: 5px;
  }
  div.card-box .sample-image {
    height: 90%;
    width: 100%;
  }
  div.card-box h6.home-sample-related-text {
    font-weight: 600;
    font-size: 14px;
  }
  div.card-box h6.card-text {
    font-size: 14px;
    padding: 4px 5px;
    background: #020303;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    width: 85%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
  }
}

@media screen and (min-width: 922px) {
  main.seller-form {
    width: 100%;
    margin-top: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5% 0 5% 5%;
    margin-bottom: 0%;
  }
  main.seller-form form {
    border-radius: 6px;
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main.seller-form form label {
    color: white !important;
    padding: 15px 20px 15px 0;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
  }
  main.seller-form form input {
    height: 40px;
    width: 50%;
    float: right;
    border: 1px solid;
  }
  main.seller-form form input:focus {
    -webkit-box-shadow: 1px 1px 4px #14181d !important;
            box-shadow: 1px 1px 4px #14181d !important;
    border: 1px solid !important;
  }
  main.seller-form form textarea {
    border: 1px solid;
    min-height: 150px;
    background-color: white !important;
  }
  main.seller-form div.right-text {
    padding: 10% 5%;
  }
  main.seller-form div.right-text h3 {
    font-size: 35px;
    font-weight: bold;
  }
  main.seller-form div.right-text p {
    font-size: 16px;
  }
}

@media screen and (min-width: 601px) and (max-width: 921px) {
  main.seller-form {
    width: 100%;
    margin-top: 4%;
    padding: 5% 5% 5% 5%;
    margin-bottom: 0%;
  }
  main.seller-form form {
    border-radius: 7px;
    width: 100%;
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main.seller-form form label {
    color: white !important;
    padding: 15px 20px 15px 0;
    font-size: 15px;
    font-weight: bold;
  }
  main.seller-form form input {
    height: 40px;
    width: 100%;
    border: 1px solid;
  }
  main.seller-form form input:focus {
    -webkit-box-shadow: 1px 1px 4px rgba(53, 72, 75, 0.87) !important;
            box-shadow: 1px 1px 4px rgba(53, 72, 75, 0.87) !important;
    border: 1px solid !important;
  }
  main.seller-form form textarea {
    border: 1px solid;
    min-height: 150px;
    background-color: white !important;
  }
  main.seller-form div.right-text {
    padding: 6% 5% 2% 5%;
  }
  main.seller-form div.right-text h3 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
  }
  main.seller-form div.right-text p {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  main.seller-form {
    width: 100%;
    margin-top: 0%;
    padding: 10% 5% 5% 5%;
    margin-bottom: 0%;
  }
  main.seller-form form {
    border-radius: 6px;
    width: 100%;
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main.seller-form form label {
    color: white !important;
    padding: 15px 20px 15px 0;
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(41, 38, 38, 0.829);
  }
  main.seller-form form input {
    height: 40px;
    width: 100%;
    border: 1px solid;
  }
  main.seller-form form input:focus {
    -webkit-box-shadow: 1px 1px 4px red !important;
            box-shadow: 1px 1px 4px red !important;
    border: 1px solid !important;
  }
  main.seller-form form textarea {
    border: 1px solid;
    min-height: 150px;
    background-color: white !important;
  }
  main.seller-form div.right-text {
    padding: 5% 5%;
  }
  main.seller-form div.right-text h3 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
  }
  main.seller-form div.right-text p {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }
}

@media screen and (min-width: 922px) {
  main.about {
    background-color: rgba(238, 236, 236, 0.699);
    padding-top: 4%;
  }
  main.about h3,
  main.about h4 {
    color: #020303;
  }
  main.about div#about {
    padding: 7% 7% 7% 0%;
  }
  main.about div#about p {
    font-size: 20px;
    text-align: justify;
  }
  main.about div#about-img {
    position: relative;
    height: 380px;
  }
  main.about div#about-img img.about-img-1 {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 10%;
    right: 0%;
  }
  main.about div#about-img img.about-img-2 {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 0%;
    bottom: 3%;
    z-index: 1;
    border: 8px white solid;
  }
  main.about section.middle-section {
    padding: 10px 5px 20px 5px;
    background: #f0f0f0 fixed;
  }
  main.about section.third-section {
    background: white;
    padding: 5% !important;
  }
  main.about section.third-section p {
    text-align: justify;
  }
  main.about section.third-section div#vision {
    padding: 5% !important;
    height: 450px;
  }
  main.about section.third-section div#vision img {
    height: 450px;
    width: 100%;
    margin-top: -15px;
  }
  main.about section.third-section div#vision-text {
    padding: 1% 8%;
  }
  main.about section.third-section div#vision-text p {
    font-size: 20px;
  }
  main.about section.bottom-section {
    padding-bottom: 50px;
    background: #f0f0f0 fixed;
    margin-bottom: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.about section.bottom-section div {
    width: 15%;
    height: 300px;
    margin: 0 2.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.about section.bottom-section div img {
    width: 100%;
    height: 180px;
    margin: 0;
    border-radius: 55%;
  }
  main.about section.bottom-section div h6 {
    padding: 0;
    font-weight: 600;
  }
}

@media screen and (max-width: 921px) and (min-width: 601px) {
  main.about {
    background-color: rgba(253, 253, 253, 0.699);
    padding-top: 15%;
  }
  main.about h3,
  main.about h4 {
    color: #020303;
  }
  main.about div#about {
    padding: 5% 5% 5% 0%;
  }
  main.about div#about p {
    font-size: 17px;
    text-align: justify;
  }
  main.about div#about-img {
    position: relative;
    height: 300px;
  }
  main.about div#about-img img.about-img-1 {
    position: absolute;
    width: 280px;
    height: 200px;
    top: 5%;
    right: 0%;
  }
  main.about div#about-img img.about-img-2 {
    position: absolute;
    width: 220px;
    height: 170px;
    left: 0%;
    top: 45%;
    z-index: 1;
    border: solid 3px white;
  }
  main.about section.middle-section {
    padding: 8px 5px 16px 5px;
    background: #f0f0f0 fixed;
  }
  main.about section.third-section {
    padding: 7% 0% !important;
    background-color: white;
  }
  main.about section.third-section p {
    text-align: justify;
  }
  main.about section.third-section div#vision {
    height: 300px;
    padding: 5% !important;
  }
  main.about section.third-section div#vision img {
    height: 300px;
    width: 100%;
  }
  main.about section.third-section div#vision-text {
    padding: 1% 5%;
  }
  main.about section.third-section div#vision-text p {
    font-size: 20px;
  }
  main.about section.bottom-section {
    background: #f0f0f0 fixed;
    margin-bottom: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.about section.bottom-section div {
    width: 20%;
    height: 300px;
    margin: 0 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.about section.bottom-section div img {
    width: 100%;
    height: 150px;
    border-radius: 60%;
    margin: 0;
  }
  main.about section.bottom-section div h6 {
    padding: 0;
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  main.about {
    background-color: rgba(253, 253, 253, 0.699);
    padding-top: 20%;
  }
  main.about h3,
  main.about h4 {
    color: #020303;
  }
  main.about div#about {
    padding: 1% 5% 5% 0%;
  }
  main.about div#about p {
    font-size: 15px;
    text-align: center;
  }
  main.about div#about-img {
    position: relative;
    height: 270px;
  }
  main.about div#about-img img.about-img-1 {
    position: absolute;
    width: 250px;
    height: 180px;
    top: 0;
    right: 5%;
  }
  main.about div#about-img img.about-img-2 {
    position: absolute;
    width: 180px;
    height: 120px;
    left: 0%;
    top: 40%;
    border: white solid 7px;
    z-index: 2;
  }
  main.about section.middle-section {
    padding: 8px 5px 8px 5px;
    background: #f0f0f0 fixed;
  }
  main.about section.third-section {
    padding: 3% 0;
    background-color: white;
  }
  main.about section.third-section div#vision {
    height: 300px;
    padding: 5% !important;
  }
  main.about section.third-section div#vision img {
    height: 250px;
    width: 100%;
  }
  main.about section.bottom-section {
    background: #f0f0f0 fixed;
    padding: 20px 0;
    margin-bottom: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.about section.bottom-section div {
    width: 35%;
    height: 200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0px 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.about section.bottom-section div img {
    width: 100%;
    height: 120px;
    border-radius: 55%;
  }
  main.about section.bottom-section div h6 {
    padding: 0;
    font-weight: 600;
  }
}

@media screen and (min-width: 922px) {
  main.contact {
    padding-top: 5%;
    margin-bottom: -20px;
  }
  section.contact-us {
    padding: 50px 10%;
  }
  section.contact-us form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 10%;
    color: white;
  }
  section.contact-us form input,
  section.contact-us form select {
    margin: 2% 0;
    height: 40px;
    border: rgba(22, 21, 21, 0.829) 1px solid;
  }
  section.contact-us form label {
    margin-top: 5%;
    font-size: 15px;
  }
  section.contact-us form button {
    width: 120px;
    height: 40px;
    margin: 1% 0;
    padding: 10px 15px;
    color: white !important;
    background-color: rgba(2, 2, 2, 0.9508);
    border: solid white 1px;
  }
  section.contact-us form textarea {
    height: 100px;
    background-color: white !important;
  }
  section.contact-us div.forms {
    border: grey 1px solid;
  }
  section.contact-us div.forms h4 {
    padding: 0 0 0 10%;
    text-align: center;
  }
  section.contact-us div.text-address {
    padding: 105px 0 124px 10%;
    color: white;
  }
  section.contact-us .contact-icon {
    margin-right: 4%;
  }
}

@media screen and (min-width: 601px) and (max-width: 921px) {
  main.contact {
    padding-top: 5%;
    margin-bottom: -20px;
  }
  section.contact-us {
    padding: 10px 10%;
  }
  section.contact-us form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 10%;
  }
  section.contact-us form input,
  section.contact-us form select {
    margin: 2% 0;
    height: 40px;
    border: rgba(22, 21, 21, 0.829) 1px solid;
  }
  section.contact-us form label {
    margin-top: 5%;
    font-size: 15px;
  }
  section.contact-us form button {
    width: 120px;
    height: 40px;
    margin: 1% 0;
    padding: 10px 15px;
    color: white !important;
    background-color: rgba(2, 2, 2, 0.9508);
    border: solid white 1px;
  }
  section.contact-us form textarea {
    height: 100px;
    background-color: white !important;
  }
  section.contact-us div.forms h4 {
    padding: 0 0 0 10%;
    text-align: center;
  }
  section.contact-us div.text-address {
    padding: 15px 0 15px 10%;
  }
  section.contact-us .contact-icon {
    margin-right: 4%;
  }
}

@media screen and (max-width: 600px) {
  main.contact {
    padding-top: 6%;
    margin-bottom: -20px;
  }
  section.top-contact-section {
    height: 20%;
    background-color: rgba(0, 0, 0, 0.411);
  }
  section.top-contact-section img {
    width: 100%;
    height: 300px;
  }
  section.contact-us {
    padding: 5px 5%;
  }
  section.contact-us form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 0;
  }
  section.contact-us form input,
  section.contact-us form select {
    margin: 2% 0;
    height: 35px;
    border: rgba(22, 21, 21, 0.829) 1px solid;
  }
  section.contact-us form label {
    margin-top: 5%;
    font-size: 15px;
  }
  section.contact-us form button {
    margin-top: 10px !important;
    width: 120px;
    height: 40px;
    margin: 1% 0;
    padding: 10px 15px;
    color: white !important;
    background-color: rgba(2, 2, 2, 0.9508);
    border: solid white 1px;
  }
  section.contact-us form textarea {
    height: 100px;
    background-color: white !important;
  }
  section.contact-us div.forms {
    padding: 1px 0 15px 1%;
  }
  section.contact-us div.forms h4 {
    text-align: center;
    font-size: 23px;
  }
  section.contact-us h5 {
    font-size: 18px;
  }
  section.contact-us div.text-address {
    padding: 15px 0 15px 1%;
  }
  section.contact-us .contact-icon {
    margin-right: 4%;
  }
}

@media screen and (min-width: 922px) {
  main.contact-manufacturer {
    padding-top: 7%;
    margin-bottom: -1%;
    position: relative;
  }
  main.contact-manufacturer section.overlay {
    background-color: rgba(0, 0, 0, 0.918);
    height: 100%;
    width: 100%;
  }
  main.contact-manufacturer div.form-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1% 1% 2% 5%;
  }
  main.contact-manufacturer div.form-col form {
    width: 80%;
    padding: 2%;
  }
  main.contact-manufacturer div.form-col form label {
    padding: 15px 10px 15px 0;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: white;
  }
  main.contact-manufacturer div.form-col form input {
    float: right;
    height: 40px;
    width: 50%;
    border-radius: 1px;
    background-color: white;
    border: 1px solid #462b26;
  }
  main.contact-manufacturer div.form-col form input:focus {
    border: none;
    -webkit-box-shadow: 1px 1px 4px red !important;
            box-shadow: 1px 1px 4px red !important;
  }
  main.contact-manufacturer div.form-col form ::-webkit-input-placeholder {
    color: black;
  }
  main.contact-manufacturer div.form-col form :-ms-input-placeholder {
    color: black;
  }
  main.contact-manufacturer div.form-col form ::-ms-input-placeholder {
    color: black;
  }
  main.contact-manufacturer div.form-col form ::placeholder {
    color: black;
  }
  main.contact-manufacturer div.form-col form textarea {
    height: 100px;
    background-color: white;
  }
  main.contact-manufacturer div.rightText {
    padding: 1% 2% 2% 2%;
  }
  main.contact-manufacturer div.rightText h3 {
    text-decoration: underline;
    font-weight: bold;
  }
  main.contact-manufacturer div.rightText h5 {
    font-size: 20px;
    font-weight: 500;
  }
  .carousel-images {
    height: 320px !important;
  }
}

@media screen and (min-width: 601px) and (max-width: 921px) {
  main.contact-manufacturer {
    padding-top: 8%;
    margin-bottom: -1%;
  }
  main.contact-manufacturer div.form-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1% 1% 2% 1%;
  }
  main.contact-manufacturer div.form-col form {
    width: 100%;
    padding: 2%;
  }
  main.contact-manufacturer div.form-col form > h5 {
    font-size: 18px;
    font-weight: bold;
  }
  main.contact-manufacturer div.form-col form label {
    padding: 15px 10px 15px 0;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: white;
  }
  main.contact-manufacturer div.form-col form input {
    float: right;
    height: 40px;
    width: 50%;
    border-radius: 1px;
    background-color: white;
    border: 1px solid #462b26;
  }
  main.contact-manufacturer div.form-col form input:focus {
    border: none;
    -webkit-box-shadow: 1px 1px 4px red !important;
            box-shadow: 1px 1px 4px red !important;
  }
  main.contact-manufacturer div.form-col form ::-webkit-input-placeholder {
    color: black;
  }
  main.contact-manufacturer div.form-col form :-ms-input-placeholder {
    color: black;
  }
  main.contact-manufacturer div.form-col form ::-ms-input-placeholder {
    color: black;
  }
  main.contact-manufacturer div.form-col form ::placeholder {
    color: black;
  }
  main.contact-manufacturer div.form-col form textarea {
    height: 100px;
    background-color: white;
  }
  main.contact-manufacturer div.rightText {
    padding: 2% 2%;
    text-align: center;
  }
  main.contact-manufacturer div.rightText h3 {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
  }
  main.contact-manufacturer div.rightText h5 {
    font-size: 17px;
  }
}

@media screen and (max-width: 600px) {
  main.contact-manufacturer {
    padding-top: 12%;
    margin-bottom: -1%;
  }
  main.contact-manufacturer div.form-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1% 2% 2% 2%;
  }
  main.contact-manufacturer div.form-col form {
    width: 100%;
    padding: 2%;
  }
  main.contact-manufacturer div.form-col form > h5 {
    font-size: 20px;
    font-weight: bold;
  }
  main.contact-manufacturer div.form-col form label {
    padding: 15px 10px 15px 0;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: white;
  }
  main.contact-manufacturer div.form-col form input {
    float: right;
    height: 40px;
    width: 50%;
    border-radius: 1px;
    background-color: white;
    border: 1px solid #462b26;
  }
  main.contact-manufacturer div.form-col form input:focus {
    border: none;
    -webkit-box-shadow: 1px 1px 4px red !important;
            box-shadow: 1px 1px 4px red !important;
  }
  main.contact-manufacturer div.form-col form ::-webkit-input-placeholder {
    color: black;
  }
  main.contact-manufacturer div.form-col form :-ms-input-placeholder {
    color: black;
  }
  main.contact-manufacturer div.form-col form ::-ms-input-placeholder {
    color: black;
  }
  main.contact-manufacturer div.form-col form ::placeholder {
    color: black;
  }
  main.contact-manufacturer div.form-col form textarea {
    height: 100px;
    background-color: white;
  }
  main.contact-manufacturer div.rightText {
    padding: 2% 2% 2% 2%;
    text-align: center;
  }
  main.contact-manufacturer div.rightText h3 {
    text-decoration: underline;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  main.contact-manufacturer div.rightText h5 {
    font-size: 13px;
  }
}

@media screen and (min-width: 922px) {
  main.faq {
    margin-top: 2%;
  }
  main.faq div#faqs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
    margin-bottom: 2%;
  }
  main.faq div#faqs h5 {
    color: white;
    font-weight: 700;
    font-size: 30px;
  }
  main.faq h6.question {
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 20px;
  }
  main.faq .add-icon {
    margin-right: 10px;
  }
  main.faq .show {
    visibility: visible;
  }
  main.faq .hide {
    visibility: hidden;
  }
}

@media screen and (min-width: 601px) and (max-width: 921px) {
  main.faq {
    margin-top: 4%;
  }
  main.faq div#faqs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 300px;
  }
  main.faq div#faqs h5 {
    color: white;
    font-weight: 700;
    font-size: 30px;
  }
  main.faq h6.question {
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 20px;
  }
  main.faq .add-icon {
    margin-right: 10px;
  }
  main.faq .show {
    visibility: visible;
  }
  main.faq .hide {
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  main.faq {
    margin-top: 0%;
  }
  main.faq div#faqs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 300px;
  }
  main.faq div#faqs h5 {
    color: white;
    font-weight: 700;
    font-size: 24px;
  }
  main.faq h6.question {
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 12px;
  }
  main.faq .add-icon {
    margin-right: 10px;
  }
  main.faq .show {
    visibility: visible;
    -webkit-transition: visibility 2s;
    transition: visibility 2s;
  }
  main.faq .hide {
    visibility: hidden;
    -webkit-transition: visibility 2s;
    transition: visibility 2s;
  }
}

@media screen and (min-width: 922px) {
  main.logs {
    margin-top: 6%;
    width: 100%;
    padding: 4% 4%;
  }
  main.logs form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main.logs form select {
    width: 35%;
    height: 40px;
    border: 1px solid #0c0c0c;
  }
  main.logs form input[type="text"] {
    border: 1px solid #0c0c0c;
    width: 35%;
    margin-left: 2%;
    height: 40px;
  }
  main.logs form button {
    background-color: black;
    border: 1px solid #0c0c0c;
    height: 41px;
    color: white;
    width: 10%;
    margin-left: 15px;
  }
  main.logs form ::-webkit-input-placeholder {
    color: rgba(41, 38, 38, 0.829);
  }
  main.logs form :-ms-input-placeholder {
    color: rgba(41, 38, 38, 0.829);
  }
  main.logs form ::-ms-input-placeholder {
    color: rgba(41, 38, 38, 0.829);
  }
  main.logs form ::placeholder {
    color: rgba(41, 38, 38, 0.829);
  }
  main.logs table {
    width: 100%;
    margin-top: 2%;
  }
  main.logs table tbody,
  main.logs table thead {
    width: 100%;
  }
  main.logs table th {
    background-color: black;
    color: white;
    font-weight: 700;
    width: 25%;
  }
  main.logs table td {
    font-weight: 500;
    width: 25%;
    border: 1px black solid;
  }
}

body,
html {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  color: rgba(41, 38, 38, 0.829);
  position: relative;
}

@media screen and (min-width: 922px) {
  .contain {
    margin: 1% 8% !important;
  }
}

@media screen and (min-width: 601px) and (max-width: 921px) {
  .contain {
    margin: 1% 5% !important;
  }
}

@media screen and (max-width: 600px) {
  .contain {
    margin: 0% 2% !important;
  }
}
/*# sourceMappingURL=main.css.map */