$backgroundBlue: mix(rgb(18, 49, 106), rgb(12, 67, 109), 60%);
$FormRed: mix(rgba(165, 10, 10, 0.809), rgba(157, 12, 12, 0.597), 60%);
$gradientRed: linear-gradient(
  to right,
  rgba(255, 255, 255, 0.179),
  rgba(157, 12, 12, 0.597)
);

$buttonBlue: mix(rgba(18, 49, 106, 0.7), rgb(12, 67, 109), 60%);
$text-grey: rgba(41, 38, 38, 0.829);
