@media screen and (min-width: 922px) {
  main.about {
    background-color: $bodygrey;
    padding-top: 4%;
    h3,
    h4 {
      color: $backgroundBlue;
    }
    div#about {
      padding: 7% 7% 7% 0%;
      p {
        font-size: 20px;
        text-align: justify;
      }
    }
    div#about-img {
      position: relative;
      height: 380px;
      img.about-img-1 {
        position: absolute;
        width: 400px;
        height: 300px;
        top: 10%;
        right: 0%;
      }
      img.about-img-2 {
        position: absolute;
        width: 300px;
        height: 200px;
        left: 0%;
        bottom: 3%;
        z-index: 1;
        border: 8px white solid;
      }
    }

    section.middle-section {
      padding: 10px 5px 20px 5px;
      background: rgb(240, 240, 240) fixed;
    }

    section.third-section {
      background: white;
      padding: 5% !important;
      p {
        text-align: justify;
      }

      div#vision {
        padding: 5% !important;
        height: 450px;
        img {
          height: 450px;
          width: 100%;
          margin-top: -15px;
        }
      }

      div#vision-text {
        padding: 1% 8%;
        p {
          font-size: 20px;
        }
      }
    }

    section.bottom-section {
      padding-bottom: 50px;
      background: rgb(240, 240, 240) fixed;
      margin-bottom: 0%;
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      div {
        width: 15%;
        height: 300px;
        margin: 0 2.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: 180px;
          margin: 0;
          border-radius: 55%;
        }
        h6 {
          padding: 0;
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width: 921px) and (min-width: 601px) {
  main.about {
    background-color: rgba(253, 253, 253, 0.699);
    padding-top: 15%;
    h3,
    h4 {
      color: $backgroundBlue;
    }

    div#about {
      padding: 5% 5% 5% 0%;

      p {
        font-size: 17px;
        text-align: justify;
      }
    }
    div#about-img {
      position: relative;
      height: 300px;
      img.about-img-1 {
        position: absolute;
        width: 280px;
        height: 200px;
        top: 5%;
        right: 0%;
      }
      img.about-img-2 {
        position: absolute;
        width: 220px;
        height: 170px;
        left: 0%;
        top: 45%;
        z-index: 1;
        border: solid 3px white;
      }
    }

    section.middle-section {
      padding: 8px 5px 16px 5px;
      background: rgb(240, 240, 240) fixed;
    }

    section.third-section {
      padding: 7% 0% !important;
      background-color: white;

      p {
        text-align: justify;
      }
      div#vision {
        height: 300px;
        padding: 5% !important;
        img {
          height: 300px;
          width: 100%;
        }
      }

      div#vision-text {
        padding: 1% 5%;
        p {
          font-size: 20px;
        }
      }
    }

    section.bottom-section {
      background: rgb(240, 240, 240) fixed;
      margin-bottom: 0%;
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      div {
        width: 20%;
        height: 300px;
        margin: 0 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: 150px;
          border-radius: 60%;
          margin: 0;
        }
        h6 {
          padding: 0;
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  main.about {
    background-color: rgba(253, 253, 253, 0.699);
    padding-top: 20%;
    h3,
    h4 {
      color: $backgroundBlue;
    }
    div#about {
      padding: 1% 5% 5% 0%;

      p {
        font-size: 15px;
        text-align: center;
      }
    }

    div#about-img {
      position: relative;
      height: 270px;
      img.about-img-1 {
        position: absolute;
        width: 250px;
        height: 180px;
        top: 0;
        right: 5%;
      }
      img.about-img-2 {
        position: absolute;
        width: 180px;
        height: 120px;
        left: 0%;
        top: 40%;
        border: white solid 7px;
        z-index: 2;
      }
    }

    section.middle-section {
      padding: 8px 5px 8px 5px;
      background: rgb(240, 240, 240) fixed;
    }

    section.third-section {
      padding: 3% 0;
      background-color: white;
      div#vision {
        height: 300px;
        padding: 5% !important;
        img {
          height: 250px;
          width: 100%;
        }
      }
    }

    section.bottom-section {
      background: rgb(240, 240, 240) fixed;
      padding: 20px 0;
      margin-bottom: 0%;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      div {
        width: 35%;
        height: 200px;
        flex-wrap: nowrap;
        margin: 0px 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: 120px;
          border-radius: 55%;
        }
        h6 {
          padding: 0;
          font-weight: 600;
        }
      }
    }
  }
}
