@media screen and (min-width: 922px) {
  .provider-name {
    text-decoration: underline 2px;
  }
  p.card-text {
    font-size: 16px;
    padding: 4px 5px;
    background: $backgroundBlue;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    left: 0px;
    width: 85%;
    clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
  }
}

@media screen and (min-width: 601px) and (max-width: 921px) {
  .provider-name {
    text-decoration: underline;
  }

  p.card-text {
    font-size: 15px;
    padding: 4px 5px;
    background: $backgroundBlue;
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: -10px;
    width: 85%;
    clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
  }
}

@media screen and (max-width: 600px) {
  .provider-name {
    text-decoration: underline;
  }

  p.card-text {
    font-size: 14px;
    padding: 4px 5px;
    background: $backgroundBlue;
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: -10px;
    width: 85%;
    clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
  }
}
