@media screen and (min-width: 922px) {
  section.about-section {
    background-color: white;
    height: 400px;
    margin-top: 50px;
    button {
      @include buttonA(150px);
    }
  }

  section.scroll-section {
    .scroll-button {
      margin-top: 50px !important;
      @include buttonA(150px);
    }
  }
  section.sample-section {
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 30px;
    background: fixed rgb(240, 240, 240);
  }
}

@media screen and (max-width: 921px) and (min-width: 601px) {
  section.scroll-section {
    .scroll-button {
      margin-top: 50px;
      @include buttonA(150px);
    }
  }
  section.about-section {
    background-color: white;
    height: 250px;
    button {
      @include buttonA(150px);
    }
  }

  section.sample-section {
    padding-top: 5px;
    padding-bottom: 20px;
    background: fixed rgb(240, 240, 240);
  }
}

@media screen and (max-width: 600px) {
  section.scroll-section {
    .scroll-button {
      margin-top: 50px !important;
      @include buttonA(150px);
    }
  }

  section.about-section {
    background-color: white;
    height: 250px;
    button {
      @include buttonA(150px);
    }
  }
  section.sample-section {
    padding-top: 5px;
    padding-bottom: 20px;
    background: fixed rgb(240, 240, 240);
  }
}
