@media screen and (min-width: 922px) {
  section.banner-section {
    margin-top: 0%;
  }
  section.about-section {
    background-color: white;
    height: 400px;
    margin-top: 50px;
    button {
      @include buttonA(150px);
    }
  }

  section#to-categories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .scroll-button {
      @include buttonA(150px);
      text-align: center;
    }
  }

  section.categories-section {
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 30px;
    background: fixed rgb(240, 240, 240);
  }
}

@media screen and (max-width: 921px) and (min-width: 601px) {
  main#home {
    margin-top: -4%;
  }
  section#to-categories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .scroll-button {
      @include buttonA(150px);
      text-align: center;
    }
  }
  section.about-section {
    background-color: white;
    height: 250px;
    button {
      @include buttonA(150px);
    }
  }

  section.categories-section {
    padding-top: 5px;
    padding-bottom: 20px;
    background: fixed rgb(240, 240, 240);
  }
}

@media screen and (max-width: 600px) {
  main#home {
    margin-top: -7%;
  }
  section#to-categories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .scroll-button {
      @include buttonA(150px);
      text-align: center;
    }
  }

  section.about-section {
    background-color: white;
    height: 250px;
    button {
      @include buttonA(150px);
    }
  }
  section.categories-section {
    padding-top: 5px;
    padding-bottom: 20px;
    background: fixed rgb(240, 240, 240);
  }
}
