@media only screen and (min-width: 922px) {
  form#navform {
    width: 100%;
    margin: 15px 15px;
    > input {
      width: 65%;
      height: 45px;
      border: 1px darkcyan solid;
      border-radius: 3px;
      padding-left: 5px;
    }
    &:focus {
      box-shadow: 0 0 10px darkcyan;
      border-radius: 30px;
    }

    div.result-container {
      margin-top: -15px;
      width: 65%;
      margin: -15px auto 0 auto;
      background-color: white;
      text-align: left;
      padding-left: 15px;
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 921px) {
  form#navform {
    width: 100%;
    margin: 15px 20px;
    > input {
      width: 95%;
      height: 45px;
      border: 1px darkcyan solid;
      border-radius: 3px;
      padding-left: 5px;
    }
    &:focus {
      box-shadow: 0 0 10px darkcyan;
      border-radius: 30px;
    }

    p.result-container {
      margin-top: -15px;
      width: 95%;
      margin: -15px auto 0 auto;
      background-color: white;
      text-align: left;
      padding-left: 15px;
    }
  }
}

@media only screen and (max-width: 600px) {
  form#navform {
    width: 100%;
    margin: 15px 15px;
    > input {
      width: 90%;
      height: 35px;
      border: 1px darkcyan solid;
      border-radius: 3px;
      padding-left: 5px;
    }
    &:focus {
      box-shadow: 0 0 10px darkcyan;
      border-radius: 30px;
    }

    p.result-container {
      margin-top: -15px;
      width: 90%;
      margin: -15px auto 0 auto;
      background-color: white;
      text-align: left;
      padding-left: 15px;
    }
  }
}
